<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/authStyle.css}">
</head>
<body>
<div class="form-container">

    <div class="error" th:if="${param.error}">
        Неверный логин или пароль!
    </div>

    <div class="error" th:if="${param.disabled}">
        Извините, ваш аккаунт заблокирован.
    </div>

    <div class="logout" th:if="${param.logout}">
        Вы успешно вышли из аккаунта.
    </div>

    <div class="success" th:if="${param.registered}">
        Регистрация прошла успешно. Теперь вы можете войти.
    </div>

    <div class="success" th:if="${success}" th:text="${success}"></div>

    <h2>Вход</h2>

    <form th:action="@{/login}" method="post" th:object="${userLoginDTO}">
        <div class="input-group">
            <input type="email" th:field="*{email}" placeholder=" " required/>
            <label>Email</label>
            <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="input-group">
            <input type="password" th:field="*{password}" placeholder=" " required/>
            <label>Пароль</label>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <button type="submit">Войти</button>
    </form>

    <div class="link">
        <p>Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a></p>
    </div>
</div>
</body>
</html>
