<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои задачи</title>
    <link rel="stylesheet" th:href="@{/css/taskStyle.css}">
</head>
<body th:attr="data-show-add-modal=${showAddModal}, data-show-edit-modal=${showEditModal}">
<div class="container">
    <div class="header">
        <h1>📋 Мои задачи</h1>
        <div class="nav-buttons">
            <a class="btn btn-profile" th:href="@{/profile}">👤 Профиль</a>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-logout">🚪 Выйти</button>
            </form>
        </div>
    </div>

    <form class="task-filter-form" method="get" th:action="@{/tasks}">
        <input type="text" name="search" placeholder="Поиск..." th:value="${param.search}">

        <div class="task-tabs">
            <button type="submit" name="status" value=""
                    th:classappend="${status == null or status == ''} ? 'active' : ''"> Все
            </button>

            <button type="submit" name="status" value="completed"
                    th:classappend="${status == 'completed'} ? 'active' : ''"> Выполненные
            </button>

            <button type="submit" name="status" value="active"
                    th:classappend="${status == 'active'} ? 'active' : ''"> В процессе
            </button>
        </div>
    </form>

    <a class="btn btn-create-task" onclick="openAddModal()">Добавить задачу</a>

    <ul class="task-list">
        <li th:each="task : ${tasks}" class="task-item" th:classappend="${task.completed} ? 'completed'">

            <div class="task-content">
                <span class="task-title" th:text="${task.title}"></span>
                <span class="task-description" th:text="${task.description}"></span>
                <span class="task-deadline" th:if="${task.deadline}" th:text="'Дедлайн: ' + ${#temporals.format(task.deadline, 'dd.MM.yyyy HH:mm')}"></span>
                <span class="task-create" th:if="${task.createdAt}" th:text="'Создано: ' + ${#temporals.format(task.createdAt, 'dd.MM.yyyy HH:mm')}"></span>
            </div>

            <div class="task-actions">

                <form th:action="@{'/tasks/toggle/' + ${task.id}}" method="post">
                    <button class="btn btn-toggle" type="submit">✅</button>
                </form>

                <a th:href="@{'/tasks/edit/' + ${task.id}}" class="btn btn-edit" onclick="openEditModal()">✎</a>

                <form th:action="@{'/tasks/delete/' + ${task.id}}" method="post">
                    <button class="btn btn-delete" type="submit">🗑️</button>
                </form>

            </div>

        </li>
    </ul>

    <div id="addTaskModal" class="modal">
        <div class="modal-content">

            <span class="closeModal" onclick="closeAddModal()">×</span>

            <h2>Новая задача</h2>

            <form th:action="@{/tasks/create}" th:object="${taskDTO}" method="post" class="input-group">

                <label>Название</label>
                <input type="text" th:field="*{title}" placeholder="Введите название" required>

                <div th:if="${#fields.hasErrors('title')}" class="error">
                    <p th:errors="*{title}"></p>
                </div>

                <label>Описание</label>
                <textarea th:field="*{description}" placeholder="Описание"></textarea>

                <label>Дедлайн</label>
                <input type="datetime-local" th:field="*{deadline}">

                <button type="submit" class="btn btn-save">Сохранить</button>
            </form>
        </div>
    </div>

    <div id="editTaskModal" class="modal">
        <div class="modal-content">
            <span class="closeModal" onclick="closeEditModal()">×</span>
            <h2>Редактировать задачу</h2>

            <form th:action="@{'/tasks/edit/' + ${taskId}}" th:object="${taskUpdateDTO}" method="post" class="input-group">

                <label>Название</label>
                <input type="text" th:field="*{title}" placeholder="Введите название" required>

                <div th:if="${#fields.hasErrors('title')}" class="error">
                    <p th:errors="*{title}"></p>
                </div>

                <label>Описание</label>
                <textarea th:field="*{description}" placeholder="Описание"></textarea>

                <label>Дедлайн</label>
                <input type="datetime-local" th:field="*{deadline}">

                <div class="checkbox-group">
                    <label>
                        <input type="checkbox" th:field="*{completed}"> Выполнено
                    </label>
                </div>

                <button type="submit" class="btn btn-save">Сохранить изменения</button>
            </form>
        </div>
    </div>

</div>

<script th:src="@{/js/task.js}"></script>

</body>
</html>
